.component {
    position: relative;
    text-align: center;
    color:#fff;
    ;
  }
  
  .title {
    position: relative;
    text-align: center;
    font-size: medium;
  }

  .days {
    position: relative;
    text-align: center;
    font-size: large;
  }
